{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>MARMUT</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="#" class="nav-brand"><img src="https://i.ibb.co/CnpX8kL/marmutt.jpg" alt="" style="width: 100px; height: auto; margin-right: 10px;"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li>
                                        <form class="search-form" action="#" method="get">
                                            <input type="text" name="search" id="search" placeholder="Search...">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                    <li><a href="{% url 'marmut_app:show_dashboard' %}">Dashboard</a></li>

                                    {% if request.COOKIES.role == 'label' %}
                                        <li><a href="{% url 'marmut_album:show_kelola_album_label' %}">Manage Album</a>
                                        <li><a href="{% url 'marmut_album:show_cek_royalti_label' %}">Royalti</a>
                                    {% else %}
                                        <li><a href="{% url 'marmut_podcast:show_top_charts' %}">Chart</a>
                                        <li><a href="{% url 'marmut_playlist:kelola-playlist' %}">Manage Playlist</a></li>

                                        {% if 'podcaster' in request.COOKIES.role %}
                                            <li><a href="{% url 'marmut_podcast:show_list_podcast'%}">Manage Podcast</a>
                                        {% endif %}

                                        {% if request.COOKIES.role == 'artist' or request.COOKIES.role == 'songwriter' %}
                                            <li><a href="{% url 'marmut_album:show_kelola_album_artis_sw' %}">Manage Song & Album</a>
                                            <li><a href="{% url 'marmut_album:show_cek_royalti_artis_sw' %}">Royalti</a>
                                        {% endif %}

                                        {% if 'premium' in request.COOKIES.role %}
                                            <li><a href="#">Manage Downloaded Songs</a>
                                        {% else %}
                                            <li><a href="#">Premium Plan</a>
                                        {% endif %}
                                    {% endif %}

                                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>

                                </ul>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(static/img/bg-img/breadcumb3.jpg);">
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Content Area Start ##### -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <!-- Tambahkan gambar dan teks -->
                    <h3>
                        SONG DETAIL
                    </h3>
                    <ul>
                        <li>Judul: {{ song_data.Judul }}</li>
                        <li>Genre(s):
                            <ul>
                                {% for genre in song_data.Genre %}
                                    <li>{{ genre }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>Artist: {{ song_data.Artist }}</li>
                        <li>Songwriter(s):
                            <ul>
                                {% for songwriter in song_data.Songwriter %}
                                    <li>{{ songwriter }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>Durasi: {{ song_data.Durasi }}</li>
                        <li>Tanggal Rilis: {{ song_data.Tanggal_Rilis }}</li>
                        <li>Tahun: {{ song_data.Tahun }}</li>
                        <li>Total Play: {{ song_data.Total_Play }}</li>
                        <li>Total Downloads: {{ song_data.Total_Downloads }}</li>
                        <li>Album: {{ song_data.Album }}</li>
                    </ul>
                    <!-- Tombol download hanya muncul jika pengguna memiliki akun premium -->
                    <div class="login-buttons">
                        <a href="#" class="btn oneMusic-btn">Play</a>
                        <a href="#" class="btn oneMusic-btn">Add to Playlist</a>
                        <a href="#" class="btn oneMusic-btn">Download</a>
                        <a href="#" class="btn oneMusic-btn">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Content Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>
