<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>MARMUT</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

    <style>
        .action-column {
            text-align: center;
        }
    </style>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

     <!-- ##### Navbar Area Start ##### -->
     <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="#" class="nav-brand"><img src="https://i.ibb.co/CnpX8kL/marmutt.jpg" alt="" style="width: 100px; height: auto; margin-right: 10px;"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                      
                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu -->
                            <div class="classynav">

                                <ul>
                                    <!-- nanti link nya diganti -->
                                    <li><a href="index.html">Dashboard</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Search Bar</a></li>
                                            <li><a href="albums-store.html">Albums</a></li>
                                            <li><a href="event.html">Kelola Playlist</a></li>
                                            <li><a href="blog.html">Langganan Paket</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Kelola</a>
                                        <ul class="dropdown">
                                            <li><a href="albums-store.html">Downloaded Songs</a></li>
                                            <li><a href="event.html">Podcast</a></li>
                                            <li><a href="blog.html">Album & Songs</a></li>
                                            <li><a href="contact.html">Album</a></li>
                                            <li><a href="contact.html">Cek Royalti</a></li>
                                        </ul>
                                    </li>    
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register --> 
                                     <!-- nanti link nya diganti --> 
                                    <div class="login-register-btn mr-50">
                                        <a href="login.html" id="loginBtn">Logout</a>
                                    </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Navbar Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>USER PLAYLIST DETAIL</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### User Playlist Detail Area Start ##### -->
    <section class="user-playlist-detail-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="user-playlist-detail-content mb-50">
                        <h4>Judul: Playlist1</h4>
                        <p>Pembuat: Pembuat1</p>
                        <p>Jumlah Lagu: 12</p>
                        <p>Total Durasi: 8 jam 20 menit</p>
                        <p>Tanggal Dibuat: 18/03/24</p>
                        <p>Deskripsi: ini playlist pertam</p>
                        <button class="btn btn-primary">Shuffle Play</button>
                        <button class="btn btn-primary">Kembali</button>
                    </div>

                    <!-- Song List -->
                    <div class="song-list">
                        <h4>DAFTAR LAGU</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Judul Lagu</th>
                                    <th>Oleh</th>
                                    <th>Durasi</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Song1</td>
                                    <td>Artist1</td>
                                    <td>2 menit</td>
                                    <td>
                                        <button class="btn btn-primary">Lihat</button>
                                        <button class="btn btn-primary">Play</button>
                                        <button class="btn btn-danger">Hapus</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Song2</td>
                                    <td>Artist2</td>
                                    <td>3 menit</td>
                                    <td>
                                        <button class="btn btn-primary">Lihat</button>
                                        <button class="btn btn-primary">Play</button>
                                        <button class="btn btn-danger">Hapus</button>
                                    </td>
                                </tr>
                                <!-- Add more songs as needed -->
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-success">Tambah Lagu</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### User Playlist Detail Area End ##### -->

    <!-- ##### Header Area Start ##### -->
   
    <!-- ##### Header Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>
