{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Kelola Album & Song</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="#" class="nav-brand"><img src="https://i.ibb.co/CnpX8kL/marmutt.jpg" alt="" style="width: 100px; height: auto; margin-right: 10px;"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li>
                                        <form class="search-form" action="#" method="get">
                                            <input type="text" name="search" id="search" placeholder="Search...">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>

                                    {% if request.COOKIES.role == 'podcaster' %}
                                        <li><a href="{% url 'marmut_app:show_dashboard' %}">Dashboard</a></li>
                                        <li><a href="{% url 'marmut_podcast:show_top_charts' %}">Chart</a>
                                        <li><a href="{% url 'marmut_playlist:kelola-playlist' %}">Manage Playlist</a></li>
                                        <li><a href="{% url 'marmut_podcast:show_list_podcast'%}">Manage Podcast</a>
                                        <li><a href="#">Premium Plan</a>
                                        <li><a href="{% url 'auth:logout' %}" id="loginBtn">Logout</a></li>
                                    {% endif %}

                                    {% if request.COOKIES.role == 'artist' or request.COOKIES.role == 'songwriter' %}
                                        <li><a href="{% url 'marmut_app:show_dashboard' %}">Dashboard</a></li>
                                        <li><a href="{% url 'marmut_podcast:show_top_charts' %}">Chart</a>
                                        <li><a href="{% url 'marmut_playlist:kelola-playlist' %}">Manage Playlist</a></li>
                                        <li><a href="{% url 'marmut_album:show_kelola_album_artis_sw' %}">Manage Song & Album</a>
                                        <li><a href="{% url 'marmut_album:show_cek_royalti_artis_sw' %}">Royalti</a>
                                        <li><a href="#">Premium Plan</a></li>
                                        <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                                    {% endif %}

                                    {% if request.COOKIES.role == 'premium' %}
                                        <li><a href="{% url 'marmut_app:show_dashboard' %}">Dashboard</a></li>
                                        <li><a href="{% url 'marmut_podcast:show_top_charts' %}">Chart</a>
                                        <li><a href="{% url 'marmut_playlist:kelola-playlist' %}">Manage Playlist</a></li>
                                        <li><a href="#">Premium Plan</a>
                                        <li><a href="{% url 'auth:logout' %}">Logout</a>
                                    {% endif %}

                                    {% if request.COOKIES.role == 'biasa' %}
                                        <li><a href="{% url 'marmut_app:show_dashboard' %}">Dashboard</a></li>
                                        <li><a href="{% url 'marmut_podcast:show_top_charts' %}">Chart</a>
                                        <li><a href="{% url 'marmut_playlist:kelola-playlist' %}">Manage Playlist</a></li>
                                        <li><a href="#">Premium Plan</a>
                                        <li><a href="{% url 'auth:logout' %}">Logout</a>
                                    {% endif %}

                                    {% if request.COOKIES.role == 'label' %}
                                        <li><a href="{% url 'marmut_app:show_dashboard' %}">Dashboard</a></li>
                                        <li><a href="{% url 'marmut_album:show_kelola_album_label' %}">Manage Album</a>
                                        <li><a href="{% url 'marmut_album:show_cek_royalti_label' %}">Royalti</a>
                                        <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                                    {% endif %}

                                </ul>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(static/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <h2>Kelola Album & Song</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Album Catagory Area Start ##### -->
    <section class="album-catagory section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <div class="submit-btn text-center mb-50">
                            <form method="post" action="{% url 'marmut_album:show_create_album' %}">
                                {% csrf_token %}
                                <button class="btn oneMusic-btn mb-15">CREATE ALBUM</button>
                            </form>
                            <form method="post" action="{% url 'marmut_album:show_create_song' %}">
                                {% csrf_token %}
                                <button class="btn oneMusic-btn">CREATE SONG</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Album Catagory Area End ##### -->

    <!-- ##### List Album Now Area Start ##### -->
    <div class="oneMusic-buy-now-area mb-100">
        <div class="container">
            <h3>Daftar Album</h3>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                        {% if not albums %}
                        <div class="section-heading text-center mb-15 wow fadeInUp" data-wow-delay="50ms">
                            <h5>Belum Memiliki Album</h5>
                        </div>
                        {% else %}
                            <th width="20%">Judul</th>
                            <th width="20%">Label</th>
                            <th width="20%">Jumlah Lagu</th>
                            <th width="20%">Total Durasi</th>
                            <th width="20%">Action</th>
                        </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% if not albums %}
                            <div></div>
                        {% else %}
                            {% for album in albums %}
                            <tr>
                                <td>{{ album.0 }}</td>
                                <td>{{ album.1 }}</td>
                                <td>{{ album.2 }} lagu</td>
                                <td>{{ album.3 }} menit</td>
                                <td>
                                    <form method="post" action="{% url 'marmut_album:show_lagu_di_album' type=album.0 %}">
                                        {% csrf_token %}
                                        <button class="btn button-primary" preload="auto" style="margin-bottom: 3px; font-weight: 500;">Lihat Daftar Lagu</button>
                                    </form>
                                    <form method="post" action="{% url 'marmut_album:delete_album' type=album.0 %}">
                                        {% csrf_token %}
                                        <button class="btn button-primary" preload="auto" style="font-weight: 500;">Hapus</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- ##### List Album Area End ##### -->


    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>

{% load static %}