{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Create Song</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu" style="background-color: black;">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="#" class="nav-brand"><img src="https://i.ibb.co/CnpX8kL/marmutt.jpg" alt="" style="width: 100px; height: auto; margin-right: 10px;"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li>
                                        <form class="search-form" action="#" method="get">
                                            <input type="text" name="search" id="search" placeholder="Search...">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>

                                    <li><a href="{% url 'marmut_app:show_dashboard' %}">Dashboard</a></li>

                                    {% if request.COOKIES.role == 'label' %}
                                        <li><a href="{% url 'marmut_album:show_kelola_album_label' %}">Manage Album</a>
                                        <li><a href="{% url 'marmut_album:show_cek_royalti_label' %}">Royalti</a>
                                    {% else %}
                                        <li><a href="{% url 'marmut_podcast:show_top_charts' %}">Chart</a>
                                        <li><a href="{% url 'marmut_playlist:kelola-playlist' %}">Manage Playlist</a></li>

                                        {% if 'podcaster' in request.COOKIES.role %}
                                            <li><a href="{% url 'marmut_podcast:show_list_podcast'%}">Manage Podcast</a>
                                        {% endif %}

                                        {% if request.COOKIES.role == 'artist' or request.COOKIES.role == 'songwriter' %}
                                            <li><a href="{% url 'marmut_album:show_kelola_album_artis_sw' %}">Manage Song & Album</a>
                                            <li><a href="{% url 'marmut_album:show_cek_royalti_artis_sw' %}">Royalti</a>
                                        {% endif %}

                                        {% if 'premium' in request.COOKIES.role %}
                                            <li><a href="#">Manage Downloaded Songs</a>
                                        {% else %}
                                            <li><a href="#">Premium Plan</a>
                                        {% endif %}
                                    {% endif %}

                                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>

                                </ul>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Create Album Area ##### -->
    <section class="login-area mt-70 mb-50" style="width: 100%; max-width: 100%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 mt-50">
                    <div class="login-content">
                        <h3>Create Song</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form action="{% url 'marmut_album:insert_song' %}" method="post">
                                {% csrf_token %}
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="album">Album:</h5>
                                        <div class="contact-form-area">
                                            <select class="form-control" id="album" name="album" required>
                                                {% for album in albums %}
                                                    <option value="{{ album.0 }}">{{ album.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="judul">Judul:</h5>
                                        <div class="contact-form-area">
                                            <input type="text" class="form-control" id="judul" name="judul" placeholder="Enter the title" required>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="artist">Artist:</h5>
                                        <div class="contact-form-area">
                                            <select class="form-control" id="artist" name="artist" required>
                                                {% for artist in artists %}
                                                    <option value="{{ artist.0 }}">{{ artist.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="songwriter">Songwriter:</h5>
                                        <div class="contact-form-area">
                                            <select multiple class="form-control" id="songwriter" name="songwriter[]" required>
                                                {% for songwriter in songwriters %}
                                                    <option value="{{ songwriter.0 }}">{{ songwriter.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                
                
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="genre">Genre:</h5>
                                        <div class="contact-form-area">
                                            <select multiple class="form-control" id="genre" name="genre[]" required>
                                                {% for genre in genres_list %}
                                                    <option value="{{ genre }}">{{ genre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>                    
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="durasi">Durasi:</h5>
                                        <div class="contact-form-area">
                                            <input type="text" class="form-control" id="durasi" name="durasi" placeholder="Enter the duration" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="submit-btn text-center">
                                                <button type="submit" class="btn oneMusic-btn" style="margin-top: 22px;">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Create Song Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
    <!-- multiselect -->
    <script src="{% static 'multiselect-dropdown.js' %}" ></script>
</body>

{% load static %}