{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Create Song</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu"  style="background-color: black;">
            <div class="classy-nav-container breakpoint-off">
                <div class="container" >
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="#" class="nav-brand"><img src="https://i.ibb.co/CnpX8kL/marmutt.jpg" alt="" style="width: 100px; height: auto; margin-right: 10px;"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <!-- Search Bar -->
                                    <li>
                                        <form class="search-form" action="#" method="get">
                                            <input type="text" name="search" id="search" placeholder="Search...">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                    <!-- nanti link nya diganti -->
                                    <li><a href="index.html">Dashboard</a></li>
                                    <li><a href="#">Chart</a>
                                    <li><a href="kelola_playlist.html">Manage Playlist</a></li>
                                    <li><a href="#">Manage Song & Album</a>
                                    <li><a href="#">Royalti</a>
                                    <li><a href="#">Premium Plan</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>

                                

                                    
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Create Album Area ##### -->
    <section class="login-area mt-70 mb-50" style="width: 100%; max-width: 100%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 mt-50">
                    <div class="login-content">
                        <h3>Create Song</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form action="#" method="post">
                                <form action="submit_album.php" method="post">
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="album">Album:</h5>
                                        <div class="contact-form-area">
                                            <select class="form-control" id="album" name="album" required>
                                                <!-- Populate options from database if available -->
                                                <option value="album1">Album 1</option>
                                                <option value="album2">Album 2</option>
                                                <option value="album3">Album 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="judul">Judul:</h5>
                                        <div class="contact-form-area">
                                            <input type="text" class="form-control" id="judul" name="judul" placeholder="Enter the title" required>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="artist">Artist:</h5>
                                        <div class="contact-form-area">
                                            <select class="form-control" id="artist" name="artist" required>
                                                <option value="artist1">Artist 1</option>
                                                <option value="artist2">Artist 2</option>
                                                <option value="artist3">Artist 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="songwriter">Songwriter:</h5>
                                        <div class="contact-form-area">
                                            <select multiple class="form-control" id="songwriter" name="songwriter[]" required>
                                                <option value="songwriter1">Songwriter 1</option>
                                                <option value="songwriter2">Songwriter 2</option>
                                                <option value="songwriter3">Songwriter 3</option>
                                                <option value="songwriter4">Songwriter 4</option>
                                                <option value="songwriter5">Songwriter 5</option>
                                            </select>
                                        </div>
                                    </div>
                
                
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="genre">Genre:</h5>
                                        <div class="contact-form-area">
                                            <select multiple class="form-control" id="genre" name="genre[]" required>
                                                <option value="genre1">Genre 1</option>
                                                <option value="genre2">Genre 2</option>
                                                <option value="genre3">Genre 3</option>
                                                <option value="genre4">Genre 4</option>
                                                <option value="genre5">Genre 5</option>
                                                <option value="genre6">Genre 6</option>
                                            </select>
                                        </div>
                                    </div>                    
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <h5 for="durasi">Durasi:</h5>
                                        <div class="contact-form-area">
                                            <input type="text" class="form-control" id="durasi" name="durasi" placeholder="Enter the duration" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="submit-btn text-center">
                                                <button type="submit" class="btn oneMusic-btn" style="margin-top: 22px;">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Create Song Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
    <!-- multiselect -->
    <script src="{% static 'multiselect-dropdown.js' %}" ></script>
</body>

{% load static %}