{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Create Album</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu"  style="background-color: black;">
            <div class="classy-nav-container breakpoint-off">
                <div class="container" >
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="#" class="nav-brand"><img src="https://i.ibb.co/CnpX8kL/marmutt.jpg" alt="" style="width: 100px; height: auto; margin-right: 10px;"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <!-- Search Bar -->
                                    <li>
                                        <form class="search-form" action="#" method="get">
                                            <input type="text" name="search" id="search" placeholder="Search...">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                    
                                    {% if user_type == 'artis_sw' %}
                                        <li><a href="index.html">Dashboard</a></li>
                                        <li><a href="#">Chart</a>
                                        <li><a href="kelola_playlist.html">Manage Playlist</a></li>
                                        <li><a href="#">Manage Song & Album</a>
                                        <li><a href="#">Royalti</a>
                                        <li><a href="#">Premium Plan</a></li>
                                        <li><a href="#">Logout</a></li>
                                    {% elif user_type == 'label' %}
                                        <li><a href="label">Dashboard</a></li>
                                        <li><a href="kelola-album-label">Manage Album</a>
                                        <li><a href="cek-royalti-label">Royalti</a>
                                        <li><a href="" id="loginBtn">Logout</a></li>
                                    {% endif %}
                                </ul>
                                    
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Create Album Area ##### -->
    <section class="login-area mt-70 mb-70" style="width: 100%; max-width: 100%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 mt-50">
                    <div class="login-content">
                        <h3>Create Album</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form action="#" method="post">
                                <div class="form-group" style="margin-bottom: 20px;">
                                    <h5 for="judul">Judul:</h5>
                                    <div class="contact-form-area">
                                        <input type="text" class="form-control" id="judul" name="judul" placeholder="Enter the title" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5 for="label">Label:</h5>
                                    <div class="contact-form-area">
                                        <select class="form-control" id="label" name="label" required>
                                            <!-- Option 1: Hardcoded Options -->
                                            <option value="label1">Label 1</option>
                                            <option value="label2">Label 2</option>
                                            <option value="label3">Label 3</option>
                                            <!-- Option 2: Populate from Database (if available) -->
                                            <!-- <option value="label_id">Label Name</option> -->
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Create Album Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>

{% load static %}