{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>CHART DETAIL</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="#" class="nav-brand"><img src="https://i.ibb.co/CnpX8kL/marmutt.jpg" alt="" style="width: 100px; height: auto; margin-right: 10px;"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li>
                                        <form class="search-form" action="#" method="get">
                                            <input type="text" name="search" id="search" placeholder="Search...">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                    <!-- nanti link nya diganti -->
                                    <li><a href="index">Dashboard</a></li>
                                    <li><a href="#">Chart</a>
                                    <li><a href="kelola_playlist">Manage Playlist</a></li>
                                    <li><a href="#">Premium Plan</a>
                                    <li><a href="#">Logout</a>
                                </ul>


                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(static/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <h2>CHART DETAIL</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Podcast Detail Area Start ##### -->
    <section class="podcast-detail-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="podcast-detail-content text-center">
                        <h2>CHART DETAIL</h2>
                        <p>Tipe: Daily Top 20</p>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn oneMusic-btn mt-30">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Podcast Detail Area End ##### -->

    <!-- ##### Daftar Episode Area Start ##### -->
    <section class="daftar-episode-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="episode-table-content">
                        <h2>DAFTAR LAGU</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Judul Lagu</th>
                                    <th scope="col">Oleh</th>
                                    <th scope="col">Tanggal Rilis</th>
                                    <th scope="col">Total Plays</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Song1</td>
                                    <td>Artist1</td>
                                    <td>09/03/2024</td>
                                    <td>21000</td>
                                    <td><a href="#">Lihat</a></td>
                                </tr>
                                <tr>
                                    <td>Song2</td>
                                    <td>Artist2</td>
                                    <td>02/03/2024</td>
                                    <td>19000</td>
                                    <td><a href="#">Lihat</a></td>
                                </tr>
                                <!-- Tambahkan baris lain sesuai kebutuhan -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Daftar Episode Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>
