<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>PLAY PODCAST</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="#" class="nav-brand"><img src="https://i.ibb.co/CnpX8kL/marmutt.jpg" alt="" style="width: 100px; height: auto; margin-right: 10px;"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <!-- nanti link nya diganti -->
                                <li><a href="index.html">Dashboard</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Search Bar</a></li>
                                        <li><a href="albums-store.html">Albums</a></li>
                                        <li><a href="event.html">Kelola Playlist</a></li>
                                        <li><a href="blog.html">Langganan Paket</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Kelola</a>
                                    <ul class="dropdown">
                                        <li><a href="albums-store.html">Downloaded Songs</a></li>
                                        <li><a href="event.html">Podcast</a></li>
                                        <li><a href="blog.html">Album & Songs</a></li>
                                        <li><a href="contact.html">Album</a></li>
                                        <li><a href="contact.html">Cek Royalti</a></li>
                                    </ul>
                                </li>    
                            </ul>

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register --> 
                                 <!-- nanti link nya diganti --> 
                                <div class="login-register-btn mr-50">
                                    <a href="login.html" id="loginBtn">Logout</a>
                                </div>

                                
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <h2>PLAY PODCAST</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Podcast Detail Area Start ##### -->
    <section class="podcast-detail-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="podcast-detail-content text-center">
                        <h2>PODCAST DETAIL</h2>
                    </div>
                    <div class="podcast-image text-center">
                        <img src="img/core-img/Podcast-blog-6.jpg" alt="Podcast Image" style="max-width: 200px; max-height: 200px;">
                    </div>        
                    <div class="podcast-info">
                        <p><strong>Judul:</strong> Podcast1</p>
                        <p><strong>Genre(s):</strong></p>
                        <ul>
                            <li>Genre1</li>
                            <li>Genre2</li>
                        </ul>
                        <p><strong>Podcaster:</strong> Artist1</p>
                        <p><strong>Total Durasi:</strong> 8 jam 20 menit</p>
                        <p><strong>Tanggal Rilis:</strong> 18/03/24</p>
                        <p><strong>Tahun:</strong> 2024</p>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn oneMusic-btn mt-30">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ##### Podcast Detail Area End ##### -->

    <!-- ##### Daftar Episode Area Start ##### -->
    <section class="daftar-episode-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="episode-table-content">
                        <h2>DAFTAR EPISODE</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Judul Episode</th>
                                    <th scope="col">Deskripsi</th>
                                    <th scope="col">Durasi</th>
                                    <th scope="col">Tanggal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SubJudul1</td>
                                    <td>Lorem Ipsum ....</td>
                                    <td>59 menit</td>
                                    <td>18/03/2024</td>
                                </tr>
                                <tr>
                                    <td>SubJudul2</td>
                                    <td>Lorem Ipsum ....</td>
                                    <td>1 jam 2 menit</td>
                                    <td>25/03/2024</td>
                                </tr>
                                <!-- Tambahkan baris lain sesuai kebutuhan -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Daftar Episode Area End ##### -->


    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>
