{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>PLAY PODCAST</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="#" class="nav-brand"><img src="https://i.ibb.co/CnpX8kL/marmutt.jpg" alt="" style="width: 100px; height: auto; margin-right: 10px;"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li>
                                        <form class="search-form" action="#" method="get">
                                            <input type="text" name="search" id="search" placeholder="Search...">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>

                                    <li><a href="{% url 'marmut_app:show_dashboard' %}">Dashboard</a></li>

                                    {% if request.COOKIES.role == 'label' %}
                                        <li><a href="{% url 'marmut_album:show_kelola_album_label' %}">Manage Album</a>
                                        <li><a href="{% url 'marmut_album:show_cek_royalti_label' %}">Royalti</a>
                                    {% else %}
                                        <li><a href="{% url 'marmut_podcast:show_top_charts' %}">Chart</a>
                                        <li><a href="{% url 'marmut_playlist:kelola-playlist' %}">Manage Playlist</a></li>

                                        {% if 'podcaster' in request.COOKIES.role %}
                                            <li><a href="{% url 'marmut_podcast:show_list_podcast'%}">Manage Podcast</a>
                                        {% endif %}

                                        {% if request.COOKIES.role == 'artist' or request.COOKIES.role == 'songwriter' %}
                                            <li><a href="{% url 'marmut_album:show_kelola_album_artis_sw' %}">Manage Song & Album</a>
                                            <li><a href="{% url 'marmut_album:show_cek_royalti_artis_sw' %}">Royalti</a>
                                        {% endif %}

                                        {% if 'premium' in request.COOKIES.role %}
                                            <li><a href="#">Manage Downloaded Songs</a>
                                        {% else %}
                                            <li><a href="#">Premium Plan</a>
                                        {% endif %}
                                    {% endif %}

                                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>

                                </ul>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(static/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <h2>PLAY PODCAST</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Podcast Detail Area Start ##### -->
    <section class="podcast-detail-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="podcast-detail-content text-center">
                        <h2>PODCAST DETAIL</h2>
                    </div>
                    <div class="podcast-image text-center">
                        <!-- Ganti sumber gambar dengan data yang diterima dari view -->
                        <img src="{% static 'img/core-img/Podcast-blog-6.jpg' %}" alt="Podcast Image" style="max-width: 200px; max-height: 200px;">
                    </div>        
                    <div class="podcast-info">
                        <!-- Ganti konten dengan data yang diterima dari view -->
                        <p><strong>Judul:</strong> {{ podcast_detail.podcast_title }}</p>
                        <p><strong>Genre(s):</strong></p>
                        <ul>
                            <!-- Loop untuk menampilkan genre -->
                            <li>{{ genres_list }}</li>
                        </ul>
                        <p><strong>Podcaster:</strong> {{ podcast_detail.podcaster_name }}</p>
                        <p><strong>Total Durasi:</strong> {{ podcast_detail.total_duration }} menit</p>
                        <p><strong>Tanggal Rilis:</strong> {{ podcast_detail.release_date }}</p>
                        <p><strong>Tahun:</strong> {{ podcast_detail.release_year }}</p>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'marmut_podcast:show_list_podcast'%}" class="btn oneMusic-btn mt-30">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ##### Podcast Detail Area End ##### -->

        <!-- ##### Daftar Episode Area Start ##### -->
        <section class="daftar-episode-area section-padding-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="episode-table-content">
                            <h2>DAFTAR EPISODE</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Judul Episode</th>
                                        <th scope="col">Deskripsi</th>
                                        <th scope="col">Durasi</th>
                                        <th scope="col">Tanggal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for episode in episodes %}
                                    <tr>
                                        <td>{{ episode.Judul_Episode }}</td>
                                        <td>{{ episode.Deskripsi }}</td>
                                        <td>{{ episode.Durasi }} menit</td>
                                        <td>{{ episode.Tanggal|date:"d/m/Y" }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Daftar Episode Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>
